<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-live" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>LivePlugin</name>
    <js-module name="LivePlugin" src="www/LivePlugin.js">
        <clobbers target="LivePlugin" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="LivePlugin">
                <param name="android-package" value="com.alivc.live.pusher.demo.LivePlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        
         
        <source-file src="src/android/pusher/" target-dir="java/com/alivc/live/" />
        <!-- <source-file src="src/android/LivePlugin/LivePlugin.java" target-dir="src/com/alivc/live/pusher/" /> -->
        <source-file src="src/android/commonlibs/" target-dir="/"/> 
        
        <framework src="src/android/lib/aliPushLive.gradle" custom="true" type="gradleReference"/>
     
        <!-- 如资源文件有冲突,请您手动处理 -->
         <source-file src="src/android/res/" target-dir="src/main/res/"   mode="merge" />  
         <source-file src="src/android/assets/" target-dir="src/main/"/> 
      

        <config-file parent="/*" target="AndroidManifest.xml"> 
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.REORDER_TASKS" />
            <uses-permission android:name="android.permission.VIBRATE" /> 
            <!-- 添加录音权限 -->
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <!-- 添加相机权限 -->
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        </config-file>  

    </platform>


    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="LivePlugin">
                <param name="ios-package" value="LivePlugin" />
            </feature>
        </config-file>
       
        <source-file src="src/ios/LivePlugin/" />
        <!-- <source-file src="src/ios/LivePlugin/LivePlugin.m" /> -->


        <!-- <framework src="src/ios/SDK/alivcffmpeg.framework" />
        <framework src="src/ios/SDK/AlivcLibReplayKitExt.framework" />
        <framework src="src/ios/SDK/AlivcLivePusher.framework" />
        <framework src="src/ios/SDK/AliyunPlayer.framework" />
        <framework src="src/ios/SDK/AliyunQueenUIKit.framework" custom="true"/>
        <framework src="src/ios/SDK/artcSource.framework" />
        <framework src="src/ios/SDK/MNN.framework" custom="true"/>
        <framework src="src/ios/SDK/opencv2.framework"  />
        <framework src="src/ios/SDK/queen.framework"  />
        <framework src="src/ios/SDK/RtsSDK.framework"  /> -->

        
        <framework src="src/ios/SDK/alivcffmpeg.framework" custom="true" />
        <framework src="src/ios/SDK/AlivcLibReplayKitExt.framework" custom="true" />
        <framework src="src/ios/SDK/AlivcLivePusher.framework" custom="true" />
        <framework src="src/ios/SDK/AliyunPlayer.framework" custom="true"/>
        <framework src="src/ios/SDK/AliyunQueenUIKit.framework" custom="true"/>
        <framework src="src/ios/SDK/artcSource.framework" custom="true"/>
        <framework src="src/ios/SDK/MNN.framework" custom="true"/>
        <framework src="src/ios/SDK/opencv2.framework" custom="true" />
        <framework src="src/ios/SDK/queen.framework" custom="true" />
        <framework src="src/ios/SDK/RtsSDK.framework" custom="true" />


    </platform>
</plugin>
